@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #292b2c;
}

* {
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
}

.Title {
  text-align: center;
}

.AvocadoButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms transform;
}

.AvocadoButton:hover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}

.AvocadoButton:active {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.Card {
  padding: 10px;
  background-color: #58863d;
  display: inline-block;
  border-radius: 10px;
  transition: 200ms;
}

.Card:hover {
  transform: scale(1.15);
}

.Card:active {
  opacity: 0.5;
}

.CardTitle {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
